/* HERO */
.about-hero {
  height: 100vh;
  background: url("/young-couple-talking-sales-person-car-showroom.jpg") center/cover no-repeat;
  position: relative;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.hero-content {
  position: relative;
  color: #fff;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

.hero-content span {
  color: #0dcaf0;
}

.hero-content p {
  font-size: 1.2rem;
}

/* EXPERIENCE */
.experience-section {
  background: #fff;
  padding: 5rem 0;
}

.experience-section h2 {
  font-size: 3rem;
  color: #0dcaf0;
}

.experience-section p {
  font-size: 1.1rem;
  font-weight: 500;
}

/* BRAND ICONS */
.brand-section {
  background: #0b0b0b;
  overflow: hidden;
  padding: 3rem 0;
}

.brand-track {
  display: flex;
  width: 200%;
}

.brand-icons {
  display: flex;
  gap: 4rem;
  font-size: 3.8rem;
  color: #0dcaf0;
  padding-right: 4rem;
}

/* WHO WE ARE */
.who-section {
  padding: 6rem 0;
  background: #f8f9fa;
}

.who-section h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

/* CTA */
.cta-section {
  height: 80vh;
  background: url("/family-with-baby-girl-choosing-car-car-salon.jpg") center/cover no-repeat;
  position: relative;
}

.cta-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.cta-content {
  position: relative;
  color: white;
}

.cta-content h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
